<span *ngIf="Api.cargado; else cargando">
  <label>Buscar por: </label>
  <select [value]="valorCriterio" (change)="alCambioTipoCriterio($event)">
    <option *ngFor="let e of tiposCriterios" [value]="e">{{e}}</option>
  </select>
  <ls-buscador-criterios [valoresCriterios]="valoresCriterios" (cambioCriterio)="alCambioCriterio($event)"></ls-buscador-criterios>
  <ls-buscador-lanzamientos [lanzamientos]="lanzamientos"></ls-buscador-lanzamientos>
</span>
<ng-template #cargando>Cargando estados, agencias y tipos de misión ...</ng-template>
